<div class="container">
  <div class="row">
    <div class="col-xs-5 job-list job-list-left">
      <ul>
        <% @jobs[0..19].each do |job| %>
        <li>
          <div class="job-list-content">
            <span class="title"><%= link_to job.title, job %>（<%= job.city.name %>）</span>
            <span class="started-at pull-right"><%= job.started_at %></span>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-5 col-xs-offset-1 job-list job-list-right">
      <ul>
        <% @jobs[20..39].each do |job| %>
        <li>
          <div class="job-list-content">
            <span class="title"><%= link_to job.title, job %>（<%= job.city.name %>）</span>
            <span class="started-at pull-right"><%= job.started_at %></span>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>