<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 城市管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">城市信息</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'city.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @city.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'city.position' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @city.position, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'city.featured' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_boolean(@city.featured?), readonly: true, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to '返回', cms_cities_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_cms_city_path(@city), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>