<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>裕福招聘内容管理系统</title>
    <%= stylesheet_link_tag 'cms', media: 'all', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="preloader">
      <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
      <div class="leftpanel">
        <div class="logopanel">
          <h1><span>[</span> 裕福招聘 <span>]</span></h1>
        </div>
        <div class="leftpanelinner">    
          <h5 class="sidebartitle">Navigation</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="nav-parent"><a href=""><i class="fa fa-map-marker"></i> <span>城市管理</span></a>
              <ul class="children">
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 新建城市"), new_cms_city_path %></li>
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 城市列表"), cms_cities_path %></li>
              </ul>
            </li>
            <li class="nav-parent"><a href=""><i class="fa fa-bookmark"></i> <span>职位管理</span></a>
              <ul class="children">
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 新建职位"), new_cms_job_path %></li>
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 职位列表"), cms_jobs_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="mainpanel">
        <div class="headerbar">
          <div class="header-right">
            <ul class="headermenu">
              <li>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <span class="small">欢迎您，<%= session['administrator']['name'] %></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><%= link_to raw('<i class="glyphicon glyphicon-user"></i> 我的信息'), edit_cms_profile_path %></li>
                    <li><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> 修改密码'), edit_password_cms_profile_path %></li>
                    <li><%= link_to raw('<i class="glyphicon glyphicon-log-out"></i> 退出登录'), cms_signout_path %></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <%= yield %>
      </div>
    </section>
    <%= javascript_include_tag 'cms', 'data-turbolinks-track' => true %>
    <%= content_for :javascript %>
  </body>
</html>